footer {
	background-color: white;
	border-top: 1px solid #CCCCCC;
	text-align: center;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

footer p {
	text-align: center;
	line-height: 30px;
}
