header {
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	height: 70px;
	width: 100%;
}

.logo {
	background: url("../images/logo.png") no-repeat;
	margin-left: 20px;
	height: 100%;
	width: 100%;
	background-position: left;
}

